.BMapLib_Drawing_panel {
	height: 34px;
	/**border: 1px solid #666;**/
	border-radius: 0 5px 5px 0;
	overflow: hidden;
	/**box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);**//
	float: left;
	border: 1px solid #d9dfea;
}

.BMapLib_Drawing .BMapLib_box {
	border-right: 1px solid #d2d2d2;
	float: left;
	height: 100%;
	width: 45px;
	height: 100%;
	background-image: url(../img/toolBar.png);
	cursor: pointer
}

.BMapLib_Drawing .BMapLib_last {
	border-right: 0
}

.BMapLib_Drawing .BMapLib_hander {
	background-position: -5px 40px;
}

.BMapLib_Drawing .BMapLib_hander_hover {
	background-position: -5px -2px;
}

.BMapLib_Drawing .BMapLib_marker {
	background-position: -65px 0
}

.BMapLib_Drawing .BMapLib_marker_hover {
	background-position: -65px -52px
}

.BMapLib_Drawing .BMapLib_circle {
	background-position: -47px 40px;
}

.BMapLib_Drawing .BMapLib_circle_hover {
	background-position: -47px -2px;
}

.BMapLib_Drawing .BMapLib_polyline {
	background-position: -92px 40px;
}

.BMapLib_Drawing .BMapLib_polyline_hover {
	background-position: -92px -2px;
}

.BMapLib_Drawing .BMapLib_polygon {
	background-position: -260px 0
}

.BMapLib_Drawing .BMapLib_polygon_hover {
	background-position: -260px -52px
}

.BMapLib_Drawing .BMapLib_rectangle {
	background-position: -325px 0
}

.BMapLib_Drawing .BMapLib_rectangle_hover {
	background-position: -325px -52px
}